@mixin opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Effet Fade in : up and down

@keyframes fadeInDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

@mixin fadeInUpDelay($delay) {
  opacity: 0;
  animation: fadeInUp 2s ease-in-out forwards;
  animation-delay: $delay;
}

// Animations des fleurs : rotation

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Animation du titre du site

// Animation titre sur la vidéo

@keyframes pulse {
  0% {
    transform: translate(-60%, -50%) scale(1.08, 0.92);
  }
  10% {
    transform: translate(-80%, -60%) scale(0.92, 1.08);
  }
  20% {
    transform: translate(-60%, -50%) scale(1.08, 0.92); 
  }
  30% {
    transform: translate(-40%, -40%) scale(0.92, 1.08);
  }
  40% {
    transform: translate(-60%, -50%) scale(1.08, 0.92);
  }
  50% {
    transform: translate(-40%, -60%) scale(0.92, 1.08);
  }
  60% {
    transform: translate(-60%, -50%) scale(1.08, 0.92);
  }
  70% {
    transform: translate(-80%, -40%) scale(0.92, 1.08);
  }
  80% {
    transform: translate(-60%, -50%) scale(1.08, 0.92);
  }
  90% {
    transform: translate(-60%, -50%) scale(1.20, 1.20);
  }
  100% {
    transform: translate(-60%, -50%) scale(1.08, 0.92);
  }
}