@mixin opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Effet Fade in : up and down

@keyframes fadeInDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

@mixin fadeInUpDelay($delay) {
  opacity: 0;
  animation: fadeInUp 2s ease-in-out forwards;
  animation-delay: $delay;
}

// Animations des fleurs : rotation

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
