@import "keyframes";

@import "oscar";

@import "carrousel";

@import "menu";

// Animations des sections

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  animation: fadeInDown 2s ease-in-out;
  .videocats {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  img {
    position: absolute;
    left: 55%;
    transform: translate(-60%, -50%) scale(1);
    z-index: 2;
    animation: pulse 8s infinite ease-in-out;
  }
}

#story {
  animation: fadeInUp 2s ease-in-out;
}

#studio {
  @include fadeInUpDelay(1.5s);
}

#oscar {
  @include fadeInUpDelay(3s);
}

#colophon {
  @include fadeInUpDelay(4.5s);
}

// Animations des fleurs

.story__article::after,
.story h2::after,
.site-footer ul::after,
#studio h2::before,
#studio h2::after,
.orchid-menu,
.sunflower-menu,
.flower-menu,
.hibiscus-menu,
.randomflower-menu,
#oscar::after,
#oscar::before {
  animation: rotating 25s linear infinite;
}

.site-footer::before,
.site-footer::after {
  display: none;
}

//recentre les fleurs
.story h2::after {
  width: 155px;
  height: 155px;
  object-fit: cover;
}

#studio h2::after {
  width: 109px;
  height: 109px;
  object-fit: cover;
}

#studio h2::before {
  width: 203px;
  height: 203px;
  object-fit: cover;
}

// Animation de la section Lieu
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
  height: 699px;
  position: relative;

  .petit_nuage,
  .gros_nuage {
    position: absolute;
    filter: blur(13px);
    transition: transform 0.5s ease-out; // Transition douce
  }

  .petit_nuage {
    left: 55rem; // Position initiale
    top: 20rem;
    content: url("../assets/images/little_cloud.png"); // Adresse de l'image
  }

  .gros_nuage {
    right: 7rem; // Position initiale
    top: 5rem;
    content: url("../assets/images/big_cloud.png"); // Adresse de l'image
  }

  p {
    font-size: 15px;
    font-weight: 400;
  }
}

//Effet titre h2

h2 {
  opacity: 0; /* Masqué initialement, mais conserve l'espace */
  transition: opacity 0.5s ease; /* Pour une transition douce */
}

h2.animated {
  opacity: 1; /* Devenir visible lorsque la classe 'animated' est ajoutée */
}

h2 span {
  opacity: 0; /* Les mots sont masqués initialement */
  display: inline-block;
}

h2.animated span {
  animation: fadeInUp 0.5s ease forwards;
}

@media (max-width: 1440px) {
  .site-main {
    width: 100%;
  }
  .site {
    overflow: hidden;
  }
  .main-character h3 {
    margin: 0 auto;
  }
  .banner {    
  min-height: calc(100vw * 0.559);
  }
}

@media (max-width: 767px) {
  .videocats {
    display: none;
  }
}

@media (max-width: 920px) {
  #oscar::after,
  #oscar::before {
    display: none;
  }
}
